{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Catalogo{% endblock %}</title>
    <link rel="stylesheet" href={% static 'catalogo/css/output.css'%}>
</head>
<body class="bg-neutral-900 text-neutral-50 my-font flex flex-col items-center justify-center">
    {% include "catalogo/partials/header/index.html" %}
    <main class="container">
        {% block content %}    
        {% endblock %}
    </main>
</body>
</html>